//- Go to index.jade to find the mixins
	dependancies
	------------------------------------------
-
	brandValues = [
		{
			title: 'Audacious',
			desc: [
				'What these deviants do is',
				'— they reach into our community to create and empower projects and ideas that haven’t been done before, oftentimes that haven’t yet been dreamed of.'
			],
			artist: 'http://marcsimonetti.deviantart.com/art/dance-with-dragons-by-GRR-MARTIN-295424142'
		},
		{
			title: 'Kindred',
			desc: [
				'They’re',
				'spirits, connecting with people on multiple levels.'
			],
			artist: 'http://threepwoody.deviantart.com/art/The-Gang-489160127'
		},
		{
			title: 'Magnetic',
			desc: [
				'They are a',
				'force that draws other community members in, gets them involved, and keeps everyone feeling like they belong.'
			],
			artist: 'http://detkef.deviantart.com/art/A-merry-song-522716900'
		},
		{
			title: 'Inspired',
			desc: [
				'They’re',
				'to create and do more, and to uplift others to do the same.',
			],
			artist: 'http://cestica.deviantart.com/art/THOUGHTS-437831738'
		}
	]



//- [data-nav] attribute will append section as a nav link in the header bar
section.about-us(data-nav='About Us')

	+subtitle('About Us')

	.about-images
		svg.crop-tier-2(viewBox='0 0 240 381'): use(xlink:href='#crop-tier-2')

		.about-images-wrap.slider.clear

			each value, i in brandValues
				- title = value.title.toLowerCase()

					div(class='slider-item ' + title)

						+image({
							src: 'about-' + title + '.jpg',
							class: 'about-img',
							asBackground: true
						})

	.slider-controls
		button.slider-prev Prev
		button.slider-next Next
		button.slider-autoplay Start
		button.slider-stop Stop

	.about-copy

		.about-copy-wrap
			each value, i in brandValues
				- title = value.title.toLowerCase()
				.about-copy-txt.slider-captions
					each desc, i in value.desc
						if i === 0
							p= desc
							h3.title.crop= value.title
						if i === 1
							p= desc

	h2.about-big-title.crop Audacious Kindred Magentic Inspired

	.brand-txt
		.wrap.clear
			.col-5.before-2
				p Founded in 2000, DeviantArt is the leading online community and social network for artists and visual enthusiasts. The company aggregates and distributes more original artist-generated content than any other site. It offers artists and fans of all interests an opportunity to communicate through art, share their passions for pop culture, and engage as part of a global collective.
				p #[a.link(href='http://spyed.deviantart.com/journal/Boldly-Facing-The-Future-498282387', target='_blank') Learn About Our Story]