
section.about-us {

	position: relative;
	background: $color-secondary-black;
	padding-top: $nav-height;
	padding-bottom: 60px;
	min-height: 100vh;

	@include bp(0) {
		padding-top: $nav-height /2;
		min-height: 0;
		padding: 30px 0;
		.wrap {
			padding: 0 30px;
		}
		div[class*='col'] {
			float: none;
			display: block;
			width: auto;
			margin: 0;
			padding: 0;
		}
	}

	.sub-title {
		color: $color-primary-green;
		color: $color-light-gray;
	}

	p { color: white; }

	a { color: white; }

	a.link {
		color: white;
		&:after {
			background: $color-green-4;
		}
	}

	.about-images {
		position: relative;
		margin: 0 30% 60px 0;

		@include bp(0) {
			margin: 0 0 30px;
		}

		svg.crop-tier-2 {
			position: absolute;
			width: 60px;
			bottom: 0;
			right: 0;
			fill: $color-secondary-black;
			z-index: 2;

			@include bp(0) {
				width: 30px;
			}
		}
	}

	.about-images-wrap {
		overflow: hidden;
	}

	.slider {
		width: 100%;
		position: relative;
		padding-bottom: 42%;
	}

	.slider-controls {
		position: absolute;
		bottom: 120px;
		left: 100%;
		width: 40%;
		z-index: 2;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		@include bp(3) {
			bottom: 60px;
		}

		@include bp(0) {
			display: none;
		}

		button {
			color: $color-light-gray;
			background: none;
			border: none;
			margin: 0;
			padding: 0;
			outline: none;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50%;
		}
		.icon {
			width: 48px;
			height: 48px;

			@include bp(2) {
				width: 32px;
				height: 32px;
			}

			svg {
				fill: $color-dark-gray;
				transition: fill 0.15s $ease-out-p0;
			}
			svg:hover {
				fill: $color-primary-green;
			}
		}
		button.slider-prev .icon {
			transform: rotate(180deg);
		}

		button.slider-autoplay,
		button.slider-stop {
			display: none;
		}
	}

	.slider-item {
		background: black;
		position: absolute;
		top: 0; bottom: 0; left: 0;
		width: 100%;
		overflow: hidden;

		svg {
			width: 100%;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			fill: $color-primary-green;
			z-index: 2;
		}

		figure {
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			background: transparent 50% 50%/cover no-repeat;
			@include bp(0) {
				top: 0; right: 0; bottom: 0; left: 0;
			}
			hr {
				display: none;
			}
		}

		figcaption {
			@include bp(0) {
				transition: all 1s $ease-out-p0;
				transform: translate(0, -200%);
				opacity: 0;
				left: 10%;
			}
		}
	}

	.about-big-title {
		color: $color-primary-black;
		font-size: 8vw;
		margin: 0;
		white-space: nowrap;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -25%);

		@include bp(0) {
			display: none;
		}
	}

	.about-copy-wrap {
		width: 100%;
	}

	.about-copy {
		max-width: 420px;
		position: absolute;
		width: 100%;
		top: 220px;
		left: 65%;
		z-index: 4;

		@include bp(2) {
			max-width: 320px;
		}

		@include bp(0) {
			position: absolute;
			top: 210px;
			left: 0;
			width: auto;
			padding: 0 30px
		}

		h3.title {
			color: $color-primary-green;
			font-size: 5em;
			margin: 5px 0;
			@include bp(4) {
				font-size: 4em;
			}

			@include bp(0) {
				font-size: 2em;
			}
		}

		p {
			margin: 0;
			@include bp(0) {
				display: none;
			}
		}

		.about-copy-txt {
			position: absolute;

		}
	}



}