$label-min-width: 0px;

footer.contact {

	position: relative;
	min-height: 100vh;
	padding: ($nav-height) 0;
	background: $color-secondary-black;
	color: white;
	z-index: 1;

	@include bp(0) {
		padding: ($nav-height /2) 0 90px;
	}

	.sub-title {
		color: $color-primary-green;
	}

	h4 {
		font: normal 1em/1 $font-semibold;
		text-transform: none;
		color: $color-light-gray;
		margin-bottom: 15px;
		&:not(:first-of-type) {
			margin-top: 60px;
		}
	}

	li, p {
		color: white;
		font-size: 0.85em;
		line-height: 1.3;
	}

	a {
		font-weight: normal;
		font-family: $font-regular;
		color: white;
		&:hover {
			color: $color-primary-green;
		}
	}


	.txt {
		padding: 0;
		margin-bottom: 60px;
		ul {
			margin: 0;
			padding: 0;
			li {
				margin: 0;
				padding: 5px 0;
				list-style: none;
			}
		}
	}

	.contact-form {
		margin-bottom: 60px;
	}

	label[for] {
		color: $color-light-gray;
		border: none;
		padding: 5px 10px;
		margin: 0 0 10px;
		border-radius: 2px;
		line-height: 30px;
		min-width: $label-min-width;
		display: inline-block;
		font-size: 0.85em;
		display: none;
	}

	select {
		font: normal 1em/1 $font-semibold;
		appearance: button;
		border-radius: 2px;
		padding-end: 20px;
		padding-start: 2px;
		user-select: none;
		background: $color-secondary-black url($fp + 'ui-arrow-down.png')  97.5% 50%/16px auto no-repeat;
		border: 2px solid rgba($color-dark-gray, 0.3);
		color: $color-light-gray;
		line-height: 30px;
		margin: 0;
		overflow: hidden;
		padding: 15px 10px;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: calc(100% - #{$label-min-width});
		outline: none;
		&:active,
		&:focus {
			border: 2px solid $color-primary-green;
			background: $color-secondary-black;
			color: white;
		}
	}

	textarea,
	input[type='text'] {
		font: normal 1em/1.3 $font-semibold;
		border: none;
		padding: 15px 10px;
		margin: 0;
		border-radius: 2px;
		line-height: 30px;
		width: calc(100% - #{$label-min-width});
		outline: none;
		border: 2px solid transparent;
		background: transparent;
		border-bottom: 2px solid rgba($color-dark-gray, 0.3);
		color: white;

		&:active,
		&:focus {
			border-bottom-color: $color-primary-green;
			background: transparent;
			color: $color-light-gray;
			color: white;
		}
	}
	::-webkit-input-placeholder {
		color: $color-light-gray;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: $color-light-gray;
	}
	::-moz-placeholder {  /* Firefox 19+ */
		color: $color-light-gray;
	}
	:-ms-input-placeholder {
		color: $color-light-gray;
	}

	textarea {
		border: 1px solid transparent;
		border-bottom: 2px solid rgba($color-dark-gray, 0.3);
		min-height: 100px;
		line-height: 1.3;
		font-size: 1em;
		&:active,
		&:focus {
			border: 1px solid $color-primary-green;
			background: transparent;
			color: white;
		}
		&:active::-webkit-input-placeholder,
		&:focus::-webkit-input-placeholder {
			color: white;
		}
	}


	.captcha {
		display: flex;
		margin: 15px 0 15px $label-min-width;
		justify-content: flex-end;
		> div {
			width: 50%;
			&:last-of-type {
				display: flex;
				justify-content: flex-end;
			}
		}
		@include bp(0) {
			display: block;
			max-width: 300px;
			margin: 0 auto 15px;
		}
		p {
			color: $color-light-gray;
			line-height: 1.3;
		}
	}

	.button {
		cursor: pointer;
		font-family: $font-semibold;

		padding: 10px 20px;
		margin: 0 0 0 $label-min-width;
		border-radius: 2px;
		text-transform: uppercase;
		text-shadow: 0 1px 1px rgba(black, 0.3);
		transition: all 0.15s $ease-out-p0;
		outline: none;
		display: block;
		width: calc(100% - #{$label-min-width});

		border: 1px solid  $color-primary-green;
		background: $color-primary-green;
		color: white;
		&:active,
		&:focus {
			color: $color-green-1;
			border: 1px solid $color-primary-green;
		}
		&:hover {
			color: $color-primary-green;
			border: 1px solid $color-primary-green;
			background: none;
		}
		@include bp(0) {
			float: none;
			width: 100%;
			min-height: 60px;
			font-size: 2em;
		}
	}

	.contact-form .row {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	.copy {
		color: $color-light-gray;
		font-size: 0.85em;
	}

	@include bp(0) {
		$label-min-width-mobile: $label-min-width - 30px;
		.wrap:not(.first-of-type) {
			padding: 0 15px;
			div[class*='col'] {
				margin: 0; padding: 0;
				width: 100%;
				float: none;
				display: block;
			}
		}
		.contact-form  {
			margin-bottom: 30px;
			.row {
				display: block;
				margin-bottom: 15px;
			}
		}
		label[for] {
			display: none;
			margin: 0 0 5px;
			min-width: 0;
			padding: 0 10px;
			line-height: 1;
			font-size: 1em;
		}
		textarea, input[type='text'] {
			height: auto;
			margin: 0;
		}
		select,
		textarea, input[type='text'] {
			width: 100%;
			margin: 0;
		}
		.wrap div.mob-col[class*='col'] {
			width: 50%;
			float: left;
		}
	}
}

