nav#nav
	a.logo(href='#welcome')
		+svg({ use: '#logo-mark', viewBox: '0 0 126.5 204'})
		span.logo-title!= 'Media Kit'
	//-
		Nav items appended with JS from sections with [data-nav] attribute
		Go to src/js/nav.js for nav-items
		------------------------------------------------------------------
	.nav-items