@font-face {
	font-family: 'Calibre-Bold';
	src: url('src/fonts/calibreweb-bold.eot');
	src: url('src/fonts/calibreweb-bold.eot?#iefix') format('embedded-opentype'),
		url('src/fonts/calibreweb-bold.woff') format('woff');
}

@font-face {
	font-family: 'Calibre-Semibold';
	src: url('src/fonts/calibreweb-semibold.eot');
	src: url('src/fonts/calibreweb-semibold.eot?#iefix') format('embedded-opentype'),
		url('src/fonts/calibreweb-semibold.woff') format('woff');
}

@font-face {
	font-family: 'Calibre-Regular';
	src: url('src/fonts/calibreweb-regular.eot');
	src: url('src/fonts/calibreweb-regular.eot?#iefix') format('embedded-opentype'),
		url('src/fonts/calibreweb-regular.woff') format('woff');
}